@import "../../styles.scss";

.name {
  font-size: 2.2rem;
  font-weight: 700;
}

.about {
  font-size: 1rem;
}

.cv-image {
  height: 320px;
  width: 320px;
}

.social-media-list {
  margin: auto;
  text-align: center;
  padding-left: 0;
}

.social-media-list li {
  display: inline-block;
  padding: 12px;
}

.social-media-list li a {
  font-size: 24px;
  color: $black-color;
}

.social-media-list li a:hover {
  color: $watermelon;
}

.cv {
  background-color: #fff;
  word-break: break-word;
  font-size: 1rem;
}

.cv-right {
  padding-left: 0;
  padding-right: 0;
}

.section-title {
  margin-bottom: 0.5rem;
  color: $carbon;
  font-size: 1.4rem;
  line-height: 1.8em;
  font-weight: 700;
}

.cvButton {
  width: 100%;
}

.item {
  padding-right: 3em;
}

.item h3 {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: $black-color;
}

.item h4 {
  font-size: 1rem;
  line-height: 1em;
  margin-bottom: 3px;
  font-weight: 500;
}

.cv.border {
  box-shadow: 2px 2px 2px 0;
}

.cv-image {
  box-shadow: 3px 3px 1px 0;
}

.border {
  color: $black-color;
}
