<header class="header">
  <div class="theme pt-3">
    <div class="d-flex justify-content-center"><img class="image-banner" src="assets/images/banner.png" routerLink=""></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light theme">
    <div class="mr-auto ml-auto hidden-desktop">
      <button class="hamburger hamburger--spring" [class.is-active]="!collapse" type="button" (click)="toggle()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="navbar-nav hidden-mobile" style="width:100%">
      <app-nav-options class="mr-auto ml-auto"></app-nav-options>
    </div>
  </nav>
  <div class="container hidden-desktop theme dropdown-nav-options" [@collapse]="collapse">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <app-nav-options class="mr-auto" (navigated)="toggle()"></app-nav-options>
      </div>
    </div>
  </div>
</header>
