@import "../../colors";

.hamburger, .hamburger.is-active {
  .hamburger-inner{
    background-color: white;
  }
  .hamburger-inner::before{
    background-color: white;
  }
  .hamburger-inner::after{
    background-color: white;
  }
}

.language-selector{
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.theme {
  color: #FFFFFF;
  background-color: #31525B;
}

.dropdown-nav-options{
  max-width:768px;
}

.navbar-brand:hover, .navbar-brand:visited, .navbar-brand:active, .navbar-brand:focus {
  color: #FFFFFF;
}

.hamburger {
  outline: unset;
}

.displayRight{
  right: 0;
}

@media only screen and (min-width: 1001px) {
  .image-banner{
    height: 100px;
  }
  .hidden-desktop {
    display:none;
  }
}

@media only screen and (max-width: 1000px) {
  .image-banner{
    height: 74px;
  }
  .hidden-mobile {
    display: none;
  }
}
