@import "../../../colors";

.hvr-overline-from-center:before {
  background: #ffffff;
  overflow: hidden;
}

.nav-item {
  font-size: 1.2rem;
}

.nav-item :not(.active) {
  color: #FFFFFF;
}

.nav-item:hover :not(.active) {
  color: #FFFFFF;
}

.nav-item.active .nav-link.navigation {
  color: #FFFFFF;
}
