.projects-block {
  padding-bottom: 16px;
  overflow: hidden;
  position: relative;
  clear: both;
}

.date-right {
  color: #555555;
  position: absolute;
  width: 100%;
  margin-left: 1rem;
  left: 126.5%;
  font-size: 0.85rem;
  top: 9px;
}

.date-left {
  color: #555555;
  position: absolute;
  width: 100%;
  margin-right: 1rem;
  text-align: right;
  right: 126.5%;
  font-size: 0.85rem;
  top: 9px;
}

.projects-block:after {
  content: '';
  position: absolute;
  top: 8px;
  display: block;
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  background: #101010;
  border-radius: 15px;
  box-shadow: 0 0 0 4px #555555, inset 0 2px 0 black;
}

.projects-content-left {
  position: relative;
  float: left;
  width: 42.5%;
  clear: both;
  border-color: #555555;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.projects-content-right {
  position: relative;
  float: right;
  width: 42.5%;
  clear: both;
  border-color: #555555;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
  background-color: #107896;
  color: #B0C537;
  padding: 6px 14px;
  margin-bottom: 4px;
}

.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.fa {
  display: table-cell;
}

li a:hover {
  text-decoration: none;
}

.date-sm{
  display: none;
}

/* Small Devices */
@media only screen and (max-width: 768px) {
  .projects-content-left, .projects-content-right {
    float: left;
    width: 100%;
  }

  .projects-block:after {
    display: none;
  }

  .date-left, .date-right{
    display: none;
  }

  .date-sm{
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
    background-color: rgba(0,0,0,.03);
    border-color: #555555;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
  }
}
