@import "../../../colors";

.home {
  color: $black-color;
  background-color: $background-color;
}

.quote {
  color: #c4d6e2;
}

.title {
  border-bottom: 1.2px #c4d6e2 solid;
  display: inline-block;
  text-transform: uppercase;
  color: #333;
  font-size: 2em;
}

.welcomeMessage {
  color: $carbon;
  font-size: 4rem;
}

.detailsMessage {
  font-size: 1.2rem;
}

.introductionMessage {
  font-size: 1.2rem;
}

.website {
  color: $watermelon;
  font-size: 3rem;
}

@media (max-width: 1000px) {
  .hidden-mobile {
    display: none;
  }
}
