$background-color: #EFEFEF;

$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;

$active-color: #778DA9;
$hover-color: #415A77;
$passive-color: #1B263B;
$text-color: #0D1B2A;
$black-color: black;
