@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
@import "~hover.css";
@import "colors";

html {
  background-color: $background-color;
}

.header {
  font-family: Roboto, serif;
  font-weight: 400;
  font-style: normal;
}

.text {
  color: $text-color;
}

hr {
  border-color: $black-color;
}

.ngb-highlight{
  background-color: #ff0;
}
