@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
@import "~hover.css";
@import "colors";

html {
  background-color: $background-color;
}

.header {
  font-family: Roboto, serif;
  font-weight: 400;
  font-style: normal;
  min-height: 20vh;
}

.text {
  color: $text-color;
}

.footer {
  width: 100%;
  height: 100px;
}

hr {
  border-color: $black-color;
}

@media only screen and (max-width: 1000px) {
  .hidden-mobile {
    display: none !important;
  }
}
