.books-title{
  text-align: center;
  font-family: arial, sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: underline;
  text-underline-offset: 0.25em;
  color: #31525B;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 960px) {
  .books-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-container {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media screen and (min-width: 1440px) {
  .books-container {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5em;
    padding-right: 5em;
  }
}
