.book-padding-bottom {
  padding-bottom: 4em;
}

.book-img-top {
  width: 150px;
  height: 180px;
  border: 1px solid black;
  padding-left: 12px;
}

.book-wrapper {
  padding-bottom: 1.5em;
}

.book-wrapper:before {
  content: '';
  margin-left: 1px;
  border-left: 12px solid rgba(0, 0, 0, 0.9);
  height: 180px;
  position: absolute;
}

.book-wrapper:after {
  content: '';
  width: 150px;
  height: 180px;
  margin-left: -150px;
  position: absolute;
  box-shadow: 1px 1px 1px 1px black,
  2px 2px 1px 1px lightgrey,
  3px 3px 1px 1px gray,
  4px 4px 1px 1px lightgrey,
  5px 5px 1px 1px gray,
  6px 6px 1px 1px lightgrey,
  7px 7px 1px 1px black;
}

.book-cover-line {
  background-color: black;
  margin-top: 180px;
  margin-left: 3px;
  width: 1px;
  z-index: 1;
  height: 9px;
  transform: rotate(135deg);
  position: absolute;
}

.book-bar {
  background: #B3DEE5;
  height: 3px;
  margin: 0.25em 0;
  width: 25%;
}

.book-rating {
  display: inline-block;
}
