@import "../../styles.scss";

.home {
  color: $black-color;
  background-color: $background-color;
  max-width: 900px;
  text-align: center;
  font-weight: bolder;
}

.welcomeMessage {
  color: $carbon;
  font-size: 4rem;
}

.detailsMessage {
  font-size: 1.8rem;
}

.introductionMessage {
  font-size: 1.6rem;
}

.website {
  color: $watermelon;
  font-size: 3rem;
}
