@import "../../../styles";

.software-craftsmanship-values {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

.card {
  box-shadow: 2px 2px 2px 0;
  border-width: 1px;
  border-color: lightgrey;
}

.card-header {
  font-size: 1.75rem;
}
