@import "../../../colors";

.software-craftsmanship-values {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

.card {
  box-shadow: 2px 2px 2px 0;
  border-width: 1px;
  border-color: lightgrey;
}

.card-header {
  font-size: 2rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.8rem;
}

.card-text-software{
  max-width: 800px;
  display: inline-block;
}
